<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="icon" href="https://spcf.edu.ph/images/spcf.ico" type="image/png">
    <title>Scholarships and Grants | Systems Plus College Foundation</title>
</head>
<style>
        /* Add custom CSS for animations */
        .container-enter-active, .container-leave-active {
            transition: opacity 0.5s;
        }
        .container-enter, .container-leave-to {
            opacity: 0;
        }

        .dropdown-container:hover .dropdown-content {
        display: block;
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
        }

        .dropdown-content {
        display: block;
        position: absolute;
        background-color: #fff;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-10px);
        }

        .fixed-header {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 1000;
        }
        .fixed-sidebar {
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            z-index: 1000;
        }

        @keyframes bobble {
            0%, 100% {
            transform: translateY(0);
            }
            50% {
            transform: translateY(-20px);
            }  
        }

        /* Apply the animation to the button on hover */
        .bobble:hover {
            animation: bobble 1s ease infinite;
        }

            /* Add this style to your existing CSS file or in a <style> tag in your HTML */
        .footer-link {
        color: white;
        transition: color 0.3s ease, transform 0.3s ease;
        transform: translateX(0); /* Initial position */
        }

        .footer-link:hover {
        color: #3498db; /* Change to your desired hover color */
        transform: translateX(5px); /* Adjust the value as needed for the desired slide effect */
        }
        
        /* CSS for Counting Animation */
        @keyframes countUp {
          from { transform: translateY(10px); opacity: 0; }
          to { transform: translateY(0); opacity: 1; }
        }
        .count-up {
          animation: countUp 1s ease-in-out;
        }
   
        .circle-image {
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }

</style>

<body>
<!--Header-->
<div>
    <!--loading screen-->
    <div id="loading-screen" class="fixed top-0 left-0 w-screen h-screen flex items-center justify-center bg-white z-50">
        <div class="animate-spin rounded-full h-16 w-16 border-t-2 border-b-2 border-blue-500"></div>
        </div>
        <script>
            // JavaScript code to hide the loading screen when your website is ready
            document.addEventListener("DOMContentLoaded", function () {
                setTimeout(function () {
                    document.getElementById("loading-screen").style.display = "none";
                }, 2000); // Change the time as needed
            });
        </script>
    <!--loading screen-->
    
    <!--Scroll Menu-->
    
    <div id="app">
        <!-- Large screen containers (show on scroll) -->
        <transition name="container" mode="out-in">
        <div v-if="showLarge" key="large" class="scroll-hdr" style="z-index: 30;">
            <div class="scr-hdr-prp">
    
                <div class="scr-hdr-tab dropdown-container" style="z-index: 30;">
                    <button type="button" class="scr-hdr-btn">
                        About
                    </button>
                    <ul class="dropdown-content">
                        <li><a href="history.html" class="scr-hdr-drp">History</a></li>
                        <li><a href="research.html" class="scr-hdr-drp">Research Database</a></li>
                        <li><a href="spcnian-hymn.html" class="scr-hdr-drp">SPCNIAN Hymn</a></li>
                    </ul>
                </div>
            
                <div class="scr-hdr-tab dropdown-container">
                    <button type="button" class="scr-hdr-btn">
                        Admissions
                    </button>
                    <ul class="dropdown-content">
                        <li><a href="adm-ol-app.html" class="scr-hdr-drp">Online Application</a></li>
                    </ul>
                </div>
            
                <div class="scr-hdr-tab dropdown-container">
                        <button type="button" class="scr-hdr-btn">
                            Academics
                        </button>
                        <ul class="dropdown-content">
                            <li><a href="office-of-the-registrar.html" class="scr-hdr-drp">Office of the Registrar</a></li>
                            <li><a href="basic-ed.html" class="scr-hdr-drp">Basic Education Department</a></li>
                            <li><a href="acad-cassed.html" class="scr-hdr-drp">College Of Arts And Social Sciences And Education</a></li>
                            <li><a href="acad-cob.html" class="scr-hdr-drp">College Of Business</a></li>
                            <li><a href="acad-ccis.html" class="scr-hdr-drp">College Of Computing And Information Sciences</a></li>
                            <li><a href="acad-COC.html" class="scr-hdr-drp">College Of Criminology</a></li>
                            <li><a href="acad-coeng.html" class="scr-hdr-drp">College Of Engineering</a></li>
                            <li><a href="acad-chm.html" class="scr-hdr-drp">College Of Hospitality Management</a></li>
                            <li><a href="acad-con.html" class="scr-hdr-drp">College Of Nursing</a></li>
                        </ul>
                </div>
                
                <div class="scr-hdr-tab dropdown-container">
                        <button type="button" class="scr-hdr-btn">
                            Student Services
                        </button>
                        <ul class="dropdown-content">
                            <li><a href="studserv-apc.html" class="scr-hdr-drp">Alumni And Placement Center</a></li>
                            <li><a href="studserv-acap.html" class="scr-hdr-drp">Assessment, Counseling, And Placement Center</a></li>
                            <li><a href="studserv-sag.html" class="scr-hdr-drp">Scholarships And Grants</a></li>
                            <li><a href="studserv-osa.html" class="scr-hdr-drp">Student Affairs Program</a></li>
                        </ul>
                </div>
            
                <div class="scr-hdr-tab dropdown-container">
                        <button type="button" class="scr-hdr-btn">
                            Facilities
                        </button>
                        <ul class="dropdown-content">
                            <li><a href="facilities.html" class="scr-hdr-drp">All Facilities</a></li>
                        </ul>
                </div>
                
                <div class="scr-hdr-tab dropdown-container">
                        <button type="button" class="scr-hdr-btn">
                            Data Privacy
                        </button>
                        <ul class="dropdown-content">
                            <li><a href="breach-report.html" class="scr-hdr-drp">Breach Report</a></li>
                        </ul>
                </div>
            
                <div class="scr-hdr-tab dropdown-container">
                        <button type="button" class="scr-hdr-btn">
                            IELTS
                        </button>
                        <ul class="dropdown-content">
                            <li><a href="IELTS.html" class="scr-hdr-drp">International English Language Testing System</a></li>
                        </ul>
                </div>
        
            </div> 
        </div>
    
        </transition>
        <!-- Large screen second containers (show on scroll) -->
        <transition name="container" mode="out-in">
            <div v-if="showLarge" key="large2" class="scroll-qal" style="z-index: 20;">
                <div class="scr-qal-ttl">
                    <!-- Large text on the left -->
                    <div style="width: 50%;">
                        <h1 class="scr-qal-txt">Quick Access Links</h1>
                    </div>
    
                    <!-- Four square buttons on the right -->
                    <div class="scr-qal-tab">
                        <!-- Button 1 -->
            <a href="https://spcf.edu.ph/enrollment/public/payment_form?fbclid=IwAR1vfJnVwn62NP9jKiAfYCeRPei-hEJlqij7JlHy-OSABj1tKVDxIDObpLE">
            <div class="scr-qal-img image-button"
                data-default-image="images/pay.png"
                data-hover-image="images/pay_hover.png">
                <img src="images/pay.png" alt="Button Icon 1" class="scr-qal-img-prp" />
                <span class="text-[10px]">Pay Online</span>
            </div>
            </a>
    
            <!-- Button 2 -->
            <a href="http://portal.spcf.edu.ph/Login.php">
            <div class="scr-qal-img image-button"
                data-default-image="images/portal.png"
                data-hover-image="images/portal_hover.png">
                <img src="images/portal.png" alt="Button Icon 2" class="scr-qal-img-prp" />
                <span class="text-[10px]">Student Portal</span>
            </div>
            </a>
    
            <!-- Button 3 -->
            <a href="http://box104.spcf.edu.ph/Login.php">
            <div class="scr-qal-img image-button"
                data-default-image="images/campus++.png"
                data-hover-image="images/campus++_hover.png">
                <img src="images/campus++.png" alt="Button Icon 3" class="scr-qal-img-prp" />
                <span class="text-[10px]">Campus++</span>
            </div>
            </a>
    
            <!-- Button 4 -->
            <a href="https://www.spcf.edu.ph/contact">
            <div class="scr-qal-img image-button"
                    data-default-image="images/contact.png"
                    data-hover-image="images/contact_hover.png">
                <img src="images/contact.png" alt="Button Icon" class="scr-qal-img-prp" />
                <span class="text-[10px]">Contact Us</span>
            </div>
            </a>
    
                    </div>
                </div>
            </div>
        </transition>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                showLarge: false,
                showSmall: false,
            },
            mounted() {
                window.addEventListener('scroll', this.handleScroll);
                this.handleScroll(); // Trigger initial check
            },
            methods: {
                handleScroll() {
                    const scrollY = window.scrollY;
                    // You can adjust the threshold as needed
                    const threshold = 200;
    
                    // Show/hide the large screen containers
                    if (window.innerWidth >= 1024) {
                        this.showLarge = scrollY >= threshold;
                    }
    
                    // Show/hide the small screen containers
                    if (window.innerWidth < 1024) {
                        this.showSmall = scrollY >= threshold;
                    }
                },
            },
        });
    </script>
    
    <!--Scroll Menu-->
    
    <!-- Large screen containers (hidden on small screens) -->
    <div class="header-prp">
      <div class="hdr-cnt">
        <!-- Logo on the left -->
        <a href="index.html">
        <div class="hdr-ctr">
          <img src="images/logo.png" alt="Logo" class="hdr-logo" /> <!-- Adjust the image source and size accordingly -->
          <h1 class="hdr-ttl" style="font-family: 'Times New Roman', Times, serif;">Systems Plus College Foundation</h1>
        </div>
        </a>
        
        <!-- Text and Button on the right -->
        <div class="hdr-ctr">
            <div>
            <p class="hdr-txt">For inquires please contact Admissions Office</p>
            <p class="hdr-contact">0919-069-2914</p>
            </div>
          <button class="hdr-btn">Apply Now!</button>
        </div>
      </div>
    </div>
    
    
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.x.x/dist/alpine.min.js" defer></script>
    
    <div class="navbar">
        <div class="nav-prp">
    
            <div class="nav-drp dropdown-container">
            <button type="button" class="nav-tab">
                About
            </button>
            <ul class="dropdown-content">
                <li><a href="history.html" class="nav-drp-menu">History</a></li>
                <li><a href="research.html" class="nav-drp-menu">Research Database</a></li>
                <li><a href="spcnian-hymn.html" class="nav-drp-menu">SPCNIAN Hymn</a></li>
            </ul>
            </div>
    
            <div class="relative inline-block text-left dropdown-container">
            <button type="button" class="nav-tab">
                Admissions
            </button>
            <ul class="dropdown-content">
                <li><a href="adm-ol-app.html" class="nav-drp-menu">Online Application</a></li>
            </ul>
            </div>
    
            <div class="relative inline-block text-left dropdown-container">
                <button type="button" class="nav-tab">
                    Academics
                </button>
                <ul class="dropdown-content">
                    <li><a href="office-of-the-registrar.html" class="nav-drp-menu">Office of the Registrar</a></li>
                    <li><a href="basic-ed.html" class="nav-drp-menu">Basic Education Department</a></li>
                    <li><a href="acad-cassed.html" class="nav-drp-menu">College Of Arts And Social Sciences And Education</a></li>
                    <li><a href="acad-cob.html" class="nav-drp-menu">College Of Business</a></li>
                    <li><a href="acad-ccis.html" class="nav-drp-menu">College Of Computing And Information Sciences</a></li>
                    <li><a href="acad-COC.html" class="nav-drp-menu">College Of Criminology</a></li>
                    <li><a href="acad-coeng.html" class="nav-drp-menu">College Of Engineering</a></li>
                    <li><a href="acad-chm.html" class="nav-drp-menu">College Of Hospitality Management</a></li>
                    <li><a href="acad-con.html" class="nav-drp-menu">College Of Nursing</a></li>
                    
                </ul>
            </div>
        
            <div class="relative inline-block text-left dropdown-container">
                <button type="button" class="nav-tab">
                    Student Services
                </button>
                <ul class="dropdown-content">
                    <li><a href="studserv-apc.html" class="nav-drp-menu">Alumni And Placement Center</a></li>
                    <li><a href="studserv-acap.html" class="nav-drp-menu">Assessment, Counseling, And Placement Center</a></li>
                    <li><a href="studserv-sag.html" class="nav-drp-menu">Scholarships And Grants</a></li>
                    <li><a href="studserv-osa.html" class="nav-drp-menu">Student Affairs Program</a></li>
                </ul>
            </div>
    
            <div class="relative inline-block text-left dropdown-container">
                <button type="button" class="nav-tab">
                    Facilities
                </button>
                <ul class="dropdown-content">
                    <li><a href="facilities.html" class="nav-drp-menu">All Facilities</a></li>
                </ul>
            </div>
        
            <div class="relative inline-block text-left dropdown-container">
                <button type="button" class="nav-tab">
                    Data Privacy
                </button>
                <ul class="dropdown-content">
                    <li><a href="breach-report.html" class="nav-drp-menu">Breach Report</a></li>
                </ul>
            </div>
    
            <div class="relative inline-block text-left dropdown-container">
                <button type="button" class="nav-tab">
                    IELTS
                </button>
                <ul class="dropdown-content">
                    <li><a href="IELTS.html" class="nav-drp-menu">International English Language Testing System</a></li>
                </ul>
            </div>
    
        </div> 
    
    </div>
    
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const imageButtons = document.querySelectorAll('.image-button');
    
            imageButtons.forEach(button => {
                const img = button.querySelector('img');
                const defaultImage = img.src;
                const hoverImage = button.getAttribute('data-hover-image');
    
                button.addEventListener('mouseenter', () => {
                    img.src = hoverImage;
                });
    
                button.addEventListener('mouseleave', () => {
                    img.src = defaultImage;
                });
            });
        });
    </script>
    
    <div class="qal">
        <div class="flex mx-16 lg:mx-32 py-2">
        <!-- Large text on the left -->
        <div style="width: 50%;">
            <h1 class="qal-ttl">Quick Access Links</h1>
        </div>
    
        <!-- Four square buttons on the right -->
        <div class="qal-tab">
            <!-- Button 1 -->
            <a href="https://spcf.edu.ph/enrollment/public/payment_form?fbclid=IwAR1vfJnVwn62NP9jKiAfYCeRPei-hEJlqij7JlHy-OSABj1tKVDxIDObpLE">
            <div class="qal-btn image-button"
                data-default-image="images/pay.png"
                data-hover-image="images/pay_hover.png">
                <img src="images/pay.png" alt="Button Icon 1" class="h-6 w-6 mb-2" />
                <span class="text-[10px]">Pay Online</span>
            </div>
            </a>
    
            <!-- Button 2 -->
            <a href="http://portal.spcf.edu.ph/Login.php">
            <div class="qal-btn image-button"
                data-default-image="images/portal.png"
                data-hover-image="images/portal_hover.png">
                <img src="images/portal.png" alt="Button Icon 2" class="h-6 w-6 mb-2" />
                <span class="text-[10px]">Student Portal</span>
            </div>
            </a>
    
            <!-- Button 3 -->
            <a href="http://box104.spcf.edu.ph/Login.php">
            <div class="qal-btn image-button"
                data-default-image="images/campus++.png"
                data-hover-image="images/campus++_hover.png">
                <img src="images/campus++.png" alt="Button Icon 3" class="h-6 w-6 mb-2" />
                <span class="text-[10px]">Campus++</span>
            </div>
            </a>
    
            <!-- Button 4 -->
            <a href="https://www.spcf.edu.ph/contact">
            <div class="qal-btn image-button"
                data-default-image="images/contact.png"
                data-hover-image="images/contact_hover.png">
            <img src="images/contact.png" alt="Button Icon" class="h-6 w-6 mb-2" />
            <span class="text-[10px]">Contact Us</span>
            </div>
            </a>
    
        </div>
        </div>
    </div>
    
    <!-- Small screen containers (hidden on large screens) -->
    <!-- Header -->
    <header class="m-hdr fixed-header">
        <div class="m-hdr-cnt">
            <button id="toggleSidebar" class="m-sb-btn">
                &#9776;
            </button>
            <div class="hdr-ctr">
                <img src="images/logo.png" alt="Logo" class="m-hdr-logo">
                <h1 class="m-hdr-ttl">SPCF</h1>
                <h1 class="m-hdr-txt">Systems Plus College Foundation</h1>
            </div>
        </div>
    </header>
    
    <!-- Sidebar -->
    <aside id="sidebar" class="m-sb fixed-sidebar">
        <!-- Button to close the sidebar -->
        <button id="closeSidebar" class="m-sb-x">
            &#x2715;
        </button>
    
        <!-- First Accordion -->
        <div class="p-4">
            <button class="m-sb-menu" onclick="toggleAccordion('accordion1')">Quick Access Links</button>
            <div id="accordion1" class="hidden">
                <ul>
                    <li><a href="https://spcf.edu.ph/enrollment/public/payment_form?fbclid=IwAR1vfJnVwn62NP9jKiAfYCeRPei-hEJlqij7JlHy-OSABj1tKVDxIDObpLE" class="m-sb-drp">Pay Online</a></li>
                    <li><a href="http://portal.spcf.edu.ph/Login.php" class="m-sb-drp">Student Portal</a></li>
                    <li><a href="http://box104.spcf.edu.ph/Login.php" class="m-sb-drp">Campus++</a></li>
                    <li><a href="https://www.spcf.edu.ph/contact" class="m-sb-drp">Contact Us</a></li>
                </ul>
            </div>
        </div>
    
        <!-- Second Accordion -->
        <div class="p-4">
            <button class="m-sb-menu" onclick="toggleAccordion('accordion2')">About</button>
            <div id="accordion2" class="hidden">
                <ul>
                    <li><a href="history.html" class="m-sb-drp">History</a></li>
                    <li><a href="research.html" class="m-sb-drp">Research Database</a></li>
                    <li><a href="spcnian-hymn.html" class="m-sb-drp">SPCNIAN Hymn</a></li>
                </ul>
            </div>
        </div>
    
        <div class="p-4">
            <button class="m-sb-menu" onclick="toggleAccordion('accordion3')">Admissions</button>
            <div id="accordion3" class="hidden">
                <ul>
                    <li><a href="adm-ol-app.html" class="m-sb-drp">Online Application</a></li>
                </ul>
            </div>
        </div>
    
        <div class="p-4">
            <button class="m-sb-menu" onclick="toggleAccordion('accordion4')">Academics</button>
            <div id="accordion4" class="hidden">
                <ul>
                    <li><a href="office-of-the-registrar.html" class="m-sb-drp">Office of the Registrar</a></li>
                    <li><a href="basic-ed.html" class="m-sb-drp">Basic Education Department</a></li>
                    <li><a href="acad-cassed.html" class="m-sb-drp">College Of Arts And Social Sciences And Education</a></li>
                    <li><a href="acad-cob.html" class="m-sb-drp">College Of Business</a></li>
                    <li><a href="acad-ccis.html" class="m-sb-drp">College Of Computing And Information Sciences</a></li>
                    <li><a href="acad-cob.html" class="m-sb-drp">College Of Criminology</a></li>
                    <li><a href="acad-coeng.html" class="m-sb-drp">College Of Engineering</a></li>
                    <li><a href="acad-chm.html" class="m-sb-drp">College Of Hospitality Management</a></li>
                    <li><a href="acad-con.html" class="m-sb-drp">College Of Nursing</a></li>
                </ul>
            </div>
        </div>
    
        <div class="p-4">
            <button class="m-sb-menu" onclick="toggleAccordion('accordion5')">Student Services</button>
            <div id="accordion5" class="hidden">
                <ul>
                    <li><a href="studserv-apc.html" class="m-sb-drp">Alumni And Placement Center</a></li>
                    <li><a href="studserv-acap.html" class="m-sb-drp">Assessment, Counseling, And Placement Center</a></li>
                    <li><a href="studserv-sag.html" class="m-sb-drp">Scholarships And Grants</a></li>
                    <li><a href="studserv-osa.html" class="m-sb-drp">Student Affairs Program</a></li>
                </ul>
            </div>
        </div>
    
        <div class="p-4">
            <button class="m-sb-menu" onclick="toggleAccordion('accordion6')">Facilities</button>
            <div id="accordion6" class="hidden">
                <ul>
                    <li><a href="facilities.html" class="m-sb-drp">All Facilities</a></li>
                </ul>
            </div>
        </div>
    
        <div class="p-4">
            <button class="m-sb-menu" onclick="toggleAccordion('accordion7')">Data Privacy</button>
            <div id="accordion7" class="hidden">
                <ul>
                    <li><a href="breach-report.html" class="m-sb-drp">Breach Report</a></li>
                </ul>
            </div>
        </div>
    
        <div class="p-4">
            <button href="IELTS.html" class="m-sb-menu" onclick="toggleAccordion('accordion8')">IELTS</button>
            <div id="accordion8" class="hidden">
                <ul>
                </ul>
            </div>
        </div>
    </aside>
    
    <script>
        const toggleButton = document.getElementById('toggleSidebar');
        const closeSidebarButton = document.getElementById('closeSidebar');
        const sidebar = document.getElementById('sidebar');
        let openAccordion = null;
    
        toggleButton.addEventListener('click', () => {
            sidebar.classList.toggle('-translate-x-full');
        });
    
        closeSidebarButton.addEventListener('click', () => {
            sidebar.classList.add('-translate-x-full');
        });
    
        function toggleAccordion(id) {
            const accordion = document.getElementById(id);
            if (accordion !== openAccordion) {
                // Close the currently open accordion
                if (openAccordion) {
                    openAccordion.classList.add('hidden');
                }
                // Open the clicked accordion
                accordion.classList.remove('hidden');
                openAccordion = accordion;
            } else {
                // Toggle the clicked accordion if it's already open
                accordion.classList.toggle('hidden');
                openAccordion = null;
            }
        }
    </script>
</div>
<!--Header-->

<!--Spacer-->
<div class="spcr"></div>
<!--Spacer-->

<nav class="acad-bar" style="background-image: url('images/counter_bg.png'); background-size: cover; background-position: center;">
    <div class="container acad-bar-prpt">
      <div class="acad-bar-ttl">Scholarships and Grants</div>
    </div>
</nav>

<div class="min-h-[50vh] flex my-auto items-center">
    <div class="p-4">
        <h2 class="text-2xl font-semibold text-left">General Requirements for All Types of Scholarship</h2><br>
        <ol class="mt-2 text-left pl-5 list-decimal">
            <li>Should have earned at least 18 units per semester except in the last semester or unless the curriculum requirements provide otherwise.</li>
            <li>A mark of INCOMPLETE or FAILED in any course of the program of study applied disqualifies a student from scholarship.</li>
            <li>Possesses good moral character and exemplary conduct.</li>
            <li>Official sanction or penalty imposed on a student after a formal investigation is conducted disqualifies a student-scholar from scholarships.</li>
        </ol>
        <br>
        <p class="font-thin text-gray-600 italic">*No dual scholarship may be enjoyed by any recipient. The evaluation and decision of the Office of Scholarship shall be final. The Office has the right to amend these rules and regulations when deemed necessary.</p>
    </div>
</div>

<div class="bg-gray-100 flex items-center justify-center">
    <div class="w-full max-w-screen-lg p-4">
        <div class="bg-[#172a52] rounded-lg shadow-lg p-4">
            <h1 class="text-white text-xl font-semibold mb-4">List of Scholarships</h1>
            <div class="space-y-2">

                <div x-data="{ open: false }" class="border rounded-lg">
                    <button @click="open = !open" class="text-white hover:text-[#ffc600] w-full text-left px-4 py-2 focus:outline-none">
                        Academic Excellence Scholarship
                    </button>
                    <div x-show="open" class="bg-gray-100 p-4">
                        <h2 class="font-bold text-xl">FOR COLLEGE</h2>
                        <h3 class="font-semibold">Eligibility</h3>
                        <ul class="pl-5">
                        <li>One-year residency for non-scholars on their first year level</li>
                        <li>General Weighted Average of at least 1.50 with no grade lower than 2.00, including PE and NSTP for 2 (two) consecutive semesters</li>
                        <li>Carried a minimum academic load of 18 units in the semester prior to the application</li>
                        </ul>
                        <br>

                        <h3 class="font-semibold">Renewal after First Semester of Enrolment</h3>
                        <p>A grantee may enjoy continued scholarship and onwards if he/she has a General Weighted Average of at least 1.50 with no grade lower than 2.00 in all his/her subjects including PE and NSTP, and carried at least 18 units of academic load to a maximum of the regular units per semester of the program of study enrolled.
                        </p>
                        <br>
                        
                        <h3 class="font-semibold">Privilege during the First Semester of Enrolment</h3>
                        <ul class="list-disc pl-5">
                        <li>100% Tuition Fee Discount for obtaining a GWA of 1.00 to 1.10</li>
                        <li>75%  Tuition Fee Discount for obtaining a GWA of 1.11 – 1.30</li>
                        <li>50%  Tuition Fee Discount for obtaining a GWA of 1.31 to 1.50</li>
                        </ul>
                    </div>
                </div>

                <div x-data="{ open: false }" class="border rounded-lg">
                    <button @click="open = !open" class="text-white hover:text-[#ffc600] w-full text-left px-4 py-2 focus:outline-none">
                      Academic Entry Scholarship for Basic Education Elementary, Junior Highschool and Senior Highschool
                    </button>
                    <div x-show="open" class="bg-gray-100 p-4">
                    <ul>
                        <li>100% Tuition Fee Discount – With Highest Honors</li>
                        <li>75% Tuition Fee Discount – With High Honors</li>
                        <li>50% Tuition Fee Discount – With Honors</li>
                    </ul>
                    <br>
                    <p>Maintaining grade for renewal for the succeeding year/semester – 95% and no grade lower than 85%.</p>
                    </div>
                </div>

                <div x-data="{ open: false }" class="border rounded-lg">
                    <button @click="open = !open" class="text-white hover:text-[#ffc600] w-full text-left px-4 py-2 focus:outline-none">
                        Performing Arts Scholarship
                    </button>
                    <div x-show="open" class="bg-gray-100 p-4">
                        <h3 class="font-semibold">Eligibility</h3>
                        <ul class="list-disc pl-5">
                        <li>Endorsed by the Director – Center for Culture and the Arts</li>
                        <li>Passed the screening</li>
                        <li>No failing grades</li>
                        <li>Slot availability</li>
                        </ul>
                        <br>

                        <h3 class="font-semibold">Renewal after First Semester of Enrolment</h3>
                        <p>A grantee may enjoy continued scholarship during his second semester and onwards if he has passed in all his subjects including PE and NSTP, carries at least 18 units of academic load to a maximum of the regular units per semester of the program of study enrolled. A grantee to enjoy the said scholarship should also be recommended by the Director of the Center for Culture and the Arts.
                        </p>
                        <br>
                        
                        <h3 class="font-semibold">Privilege during the First Semester of Enrolment</h3>
                        <ul class="list-disc pl-5">
                        <li>Partial/Full Tuition Fee Discount, depending on the endorsement of the CCA</li>
                        </ul>
                    </div>
                </div>

                <div x-data="{ open: false }" class="border rounded-lg">
                    <button @click="open = !open" class="text-white hover:text-[#ffc600] w-full text-left px-4 py-2 focus:outline-none">
                        Athletics Scholarship
                    </button>
                    <div x-show="open" class="bg-gray-100 p-4">
                        <h3 class="font-semibold">Eligibility</h3>
                        <ul class="list-disc pl-5">
                        <li>Endorsed by the Director – Sports Development Office</li>
                        <li>Passed the screening</li>
                        <li>No failing grades</li>
                        <li>Slot availability</li>
                        </ul>
                        <br>

                        <h3 class="font-semibold">Renewal after First Semester of Enrolment</h3>
                        <p>A grantee may enjoy continued scholarship during his second semester and onwards if he has passed in all his subjects including PE and NSTP, carries at least 18 units of academic load to a maximum of the regular units per semester of the program of study enrolled. A grantee to enjoy said scholarship should also be recommended by the Director – Sports Development Office, based on department’s priority.
                        </p>
                        <br>
                        
                        <h3 class="font-semibold">Privilege during the First Semester of Enrolment</h3>
                        <ul class="list-disc pl-5">
                        <li>Partial/Full Tuition Fees Discount, depending on the endorsement of the Sports Development Office.</li>
                        </ul>
                    </div>
                </div>

                <div x-data="{ open: false }" class="border rounded-lg">
                    <button @click="open = !open" class="text-white hover:text-[#ffc600] w-full text-left px-4 py-2 focus:outline-none">
                        Student Assistance Scholarshipv
                    </button>
                    <div x-show="open" class="bg-gray-100 p-4">
                        <h3 class="font-semibold">Eligibility</h3>
                        <ul class="list-disc pl-5">
                        <li>Family income below minimum</li>
                        <li>Passed the screening and interview</li>
                        <li>No failing grades</li>
                        <li>Slot availability</li>
                        </ul>
                        <br>

                        <h3 class="font-semibold">Renewal after First Semester of Enrolment</h3>
                        <p>A grantee may enjoy continued scholarship during his second semester and onwards if he has passed in all his subjects including PE and NSTP, carries at least 18 units of academic load to a maximum of the regular units per semester of the program of study enrolled, and has rendered the prescribed number of hours of service duty in the office where he was deployed. A grantee to enjoy said scholarship should also be recommended by the concerned Department Head, based on the department’s priority.
                        </p>
                        <br>
                        
                        <h3 class="font-semibold">Privilege during the First Semester of Enrolment</h3>
                        <ul class="list-disc pl-5">
                        <li>100% Tuition and Miscellaneous Fees Discount</li>
                        </ul>
                    </div>
                </div>

                <div x-data="{ open: false }" class="border rounded-lg">
                    <button @click="open = !open" class="text-white hover:text-[#ffc600] w-full text-left px-4 py-2 focus:outline-none">
                        Community Scholarship
                    </button>
                    <div x-show="open" class="bg-gray-100 p-4">
                        <h3 class="font-semibold">Eligibility</h3>
                        <ul class="list-disc pl-5">
                        <li>Family income below minimum</li>
                        <li>Resident of adopted Community</li>
                        <li>Endorsed by Barangay Captain</li>
                        <li>No failing grades</li>
                        <li>Slot availability</li>
                        </ul>
                        <br>

                        <h3 class="font-semibold">Renewal after First Semester of Enrolment</h3>
                        <p>A grantee may enjoy continued scholarship during his second semester and onwards if he has passed in all his subjects including PE and NSTP, carries at least 18 units of academic load to a maximum of the regular units per semester of the program of study enrolled, and has rendered the prescribed number of hours for community services.
                        </p>
                        <br>
                        
                        <h3 class="font-semibold">Privilege during the First Semester of Enrolment</h3>
                        <ul class="list-disc pl-5">
                        <li>100% Tuition and Miscellaneous Fees Discount</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/2.8.2/alpine.js" integrity="sha384-sX0C8AAwz10Cr6OfzgykRM6Pt6DJmR/Py3h2N9ky9w9S6z/aJNofU7fY6jroq2PJo" crossorigin="anonymous"></script>
<script>
    // Initialize Alpine.js
    window.Alpine.start();
</script>

<div class="min-h-[50vh] flex-auto my-auto items-center">
    <div class="p-4">
        <h2 class="text-2xl font-semibold text-left">Tuition Fee Discounts And Privileges</h2><br>
        <ol class="mt-2 text-left pl-5 list-decimal space-y-6">
            <li>
                <h3 class="font-semibold text-lg">Full Payment Discount</h3>
                <p>A student who pays all his fees at the beginning of the school year/semester is given 5% discount on tuition charges.</p>
            </li>

            <li>
                <h3 class="font-semibold text-lg">Brothers/Sisters Discount</h3>
                <p>3 siblings enrolled in SPCF. This privilege entitles legitimate brothers and sisters – 20% Tuition Fee Discount on the 3rd sibling.</p>
            </li>

            <li>
                <h3 class="font-semibold text-lg">Discount Privileges for Faculty Members and Administrative Employees.</h3>
                <p>The school assists faculty members and administrative employees in the education of their children through grant of tuition subsidies. To some extent and consideration, the same benefit maybe extended to the spouse, siblings or other relatives of kin.
                    <br>
                Full-time faculty members and administrative employees who have rendered at least one (1) year of continuous full-time service may apply for this benefit.</p>
                <h3 class="font-semibold">Children discount on tuition fee granted limited to 4 children only.</h3>
                <ul class="pl-5 list-disc">
                    <li>100% - First Child</li>
                    <li>75% - Second Child</li>
                    <li>50% - Third Child</li>
                    <li>25% - Fourth Child</li>
                </ul>
            </li>

            <li>
                <h3 class="font-semibold text-lg">Alumni Discount</h3>
                <p>(valid until the student graduated, not applicable for repeaters)</p>
                <ul class="pl-5 list-disc">
                    <li>SPCF Alumni - 20% Tuition Fee Discount valid until the student graduated.</li>
                    <li>SPCF Alumni Dependent - 25% Tuition Fee Discount on children not to exceed three (3).</li>
                </ul>
            </li>

            <li>
                <h3 class="font-semibold text-lg">AFP / PNP / BJMP / BFP</h3>
                <p>The AFP / PNP / BJMP / BFP members and their legitimate children, including retired uniformed personnel enjoy 25% tuition fee discount.</p>
            </li>

            <li>
                <h3 class="font-semibold text-lg">PAG-IBIG Loyalty Card</h3>
                <p>15% Tuition Fee Discount for Pag-ibig loyalty card holder and their dependent.</p>
            </li>

            <li>
                <h3 class="font-semibold text-lg">Solo Parent</h3>
                <p>15% Tuition Fee Discount for Solo Parent with valid ID from DSWD.</p>
            </li>

            <li>
                <h3 class="font-semibold text-lg">Person with Disability</h3>
                <p>15% Tuition Fee Discount for Person with disability and their dependent with valid ID from DSWD.</p>
            </li>
        </ol>
        
    </div>
</div>

<div class="bg-gray-100 min-h-[50vh] flex my-auto items-center">
    <div class="p-4">
        <h2 class="text-2xl font-semibold text-left">Application Requirements and Qualification</h2><br>
        <ol class="mt-2 text-left pl-5 list-decimal space-y-6">
            <li>Accomplished application form with recent 1x1 picture</li>
            <li>
                Attached the requirements for the following categories:
                <ul class="pl-5 list-disc">
                    <li class="font-semibold">ACADEMIC
                        <ul>
                            <li class="font-normal pl-10">☑ Certificate of Recognition from the Principal/recognition(photocopy)</li>
                            <li class="font-normal pl-10">☑ Report Card/Grades (Certificate true copy)</li>
                        </ul>
                    </li>
                    <li class="font-semibold">ALUMNI
                        <ul>
                            <li class="font-normal pl-10">☑ Alumni ID</li>
                            <li class="font-normal pl-10">☑ Alumni's Birth Certificate</li>
                        </ul>
                    </li>
                    <li class="font-semibold">EMPLOYEE
                        <ul>
                            <li class="font-normal pl-10">☑ Family Tree</li>
                            <li class="font-normal pl-10">☑ Birth Certificate (photocopy)</li>
                        </ul>
                    </li>
                    <li class="font-semibold">LEGITIMATE CHILD OF THE MILITARY PERSONNEL
                        <ul>
                            <li class="font-normal pl-10">☑ Unexpired I.D. of Officer</li>
                            <li class="font-normal pl-10">☑ Commanding officer endorsement letter</li>
                        </ul>
                    </li>
                    <li class="font-semibold">ATHLETICS/SA/USHER/PERFORMING ARTS
                        <ul>
                            <li class="font-normal pl-10">☑ Endorsement Letter of Immediate Head</li>
                        </ul>
                    </li>
                    <li class="font-semibold">STUDENT ASSISTANT
                        <ul>
                            <li class="font-normal pl-10">☑ Endorsement Letter of Immediate Head</li>
                            <li class="font-normal pl-10">☑ Indigency Certificate</li>
                            <li class="font-normal pl-10">☑ Parent Income Tax Return</li>
                        </ul>
                    </li>
                    <li class="font-semibold">CSC and SSC OFFICER
                        <ul>
                            <li class="font-normal pl-10">☑ Certificate of Proclamation</li>
                        </ul>
                    </li>
                    <li class="font-semibold">SOLO PARENT
                        <ul>
                            <li class="font-normal pl-10">☑ Solo Parent ID</li>
                        </ul>
                    </li>
                    <li class="font-semibold">PERSON WITH DISABILITY
                        <ul>
                            <li class="font-normal pl-10">☑ PWD ID</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>Submit the accomplished application form with the requirements to the Scholarships and Grants Office.</li>
            <li>Encoding of discount.</li>
            <li>For payment.</li>
        </ol>
        
    </div>
</div>

<!--Footer-->
<footer class="ftr">
    <div class="container" style="margin-left: auto; margin-right: auto;">
        <div class="ftr-layout">
            <!-- Footer Column 1 with Logo -->
            <div class="ftr-margin flex items-center">
                <img src="images/logo.png" alt="Company Logo" class="ftr-logo">
                <h2 class="ftr-ttl">Systems Plus College Foundation</h2>
            </div>

            <!-- Footer Column 2 -->
            <div class="ftr-margin">
                <h2 class="ftr-ttl" style="margin-bottom: 0.5rem;">Admissions</h2>
                <ul>
                    <li><a href="#" class="footer-link">Online Application</a></li>
                    <li><a href="#" class="footer-link">Academics</a></li>
                    <li><a href="#" class="footer-link">Facilities</a></li>
                </ul>
            </div>

            <!-- Footer Column 3 -->
            <div class="ftr-margin">
                <h2 class="ftr-ttl" style="margin-bottom: 0.5rem;">Contact Us</h2>
                <ul>
                    <li><a href="#" class="footer-link">Blog</a></li>
                    <li><a href="#" class="footer-link">FAQs</a></li>
                </ul>
            </div>

            <!-- Footer Column 4 with Up Arrow Button -->
            <div class="ftr-btn-lo">
                <button id="scrollToTop" class="ftr-btn bobble">
                    <i class="mr-1 fas fa-angle-up text-4xl"></i>
                </button>
            </div>
        </div>
    </div>
</footer> 
<script>
    // Get the button element
    const scrollToTopButton = document.getElementById("scrollToTop");

    // Add a click event listener to the button
    scrollToTopButton.addEventListener("click", () => {
        // Scroll to the top of the page with a smooth animation
        window.scrollTo({
            top: 0,
            behavior: "smooth"
        });
    });
</script>
<!--Footer-->

</body>
</html>